/* General */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #101212;
    font-family: 'HK Grotesk', sans-serif;
    font-size: medium;
    text-align: center;
    color: #F4FFFD;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit; /* Hereda el color definido en body */
}

/* Navbar */
.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-brand {
    color: #F4FFFD;
    font-size: 24px;
    font-weight: bold;
}

.menu-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 2; /* Asegura que esté sobre el canvas */
}

.menu-btn .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}

/* Navbar Items */
.navbar-nav {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-nav a {
    color: #F4FFFD;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}

.navbar-nav a:hover {
    color: #ff0057;
}

/* Canvas */
#c {
    position: fixed; /* Fija el canvas al fondo */
    top: 0;
    left: 0;
    z-index: -1; /* Asegura que el canvas esté en el fondo */
    width: 100%;
    height: 100%;
}

/* Home Section */
.home-section {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté sobre el canvas */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    color: #F4FFFD; /* Asegura que el texto sea legible */
    background-color: transparent;
}

.home-section .content {
    max-width: 800px;
}

.home-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #F4FFFD; /* Color del texto */
}

.home-section p {
    font-size: 1.5rem;
    color: #F4FFFD; /* Color del texto */
}/* Sección de Calendly */
.schedule-section {
    padding: 60px 20px;
    background-color: #121212;
    color: #F4FFFD;
    text-align: center;
}

.schedule-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #F4FFFD;
}

.schedule-section .container {
    max-width: 900px;
    margin: 0 auto;
}

.schedule-section .calendly-inline-widget {
    border: 1px solid #333;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

/* Ajustes de responsividad */
@media (max-width: 768px) {
    .schedule-section .calendly-inline-widget {
        height: 400px; /* Ajustar para pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .schedule-section .calendly-inline-widget {
        height: 350px; /* Ajustar aún más para dispositivos móviles */
    }
}

/* Responsive Menu for Mobile */
@media (max-width: 768px) {
    .menu-btn {
        display: flex; /* Muestra el botón de menú en pantallas pequeñas */
    }

    .navbar-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #000; /* Fondo del menú desplegable */
        position: absolute;
        top: 60px; /* Ajusta según la altura del navbar */
        left: 0;
        z-index: 1;
    }

    .navbar-nav.show {
        display: flex; /* Muestra el menú cuando se hace clic */
    }

    .navbar-nav a {
        padding: 15px 0;
        font-size: 18px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #444; /* Añade una separación entre los elementos */
    }

    .navbar-nav a:last-child {
        border-bottom: none; /* Elimina el borde del último elemento */
    }
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .home-section h1 {
        font-size: 2.5rem;
    }

    .home-section p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .home-section h1 {
        font-size: 2rem;
    }

    .home-section p {
        font-size: 1rem;
    }
}

/* Intro Section */
.intro {
    padding: 2rem;
    background-color: #131313;
}

.intro h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.intro p {
    font-size: 1.5rem;
    font-weight: normal;
    color: #ffffff;
}

/* Services Section */
.services {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.service-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.service-item {
    font-size: 1.5rem;
    font-weight: normal;
    color: #f1f1f1;
    flex: 1;
    text-align: center;
}

.underline {
    width: 80%;
    height: 2px;
    background-color: #111;
    margin: 0.5rem auto;
}

/* Responsiveness */
@media (max-width: 768px) {
    .intro h1 {
        font-size: 2.5rem;
    }

    .intro p {
        font-size: 1.2rem;
    }

    .service-item {
        font-size: 1.2rem;
    }

    .service-row {
        flex-direction: column;
        align-items: center;
    }

    .service-item {
        margin-bottom: 1.5rem;
    }
    .container-portfolio{
        display: flex;
    }
}

/* Sección Sobre Mí */
.about {
    padding: 60px 20px;
    background-color: #121212;
    color: #F4FFFD;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

/* Estilo para las secciones que se revelarán */
.cascade-section {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.8s ease-out;
}

/* Estilo cuando la sección está visible */
.cascade-section.show {
    opacity: 1;
    transform: translateY(0);
}

/* Portfolio Section */
.portfolio {
    padding: 4rem 2rem;
    background-color: #111;
    color: #fff;
}

.portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.portfolio-item {
    margin-bottom: 2rem;
}

.portfolio-item h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.portfolio-item p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Testimonials Section */
.testimonials {
    padding: 4rem 2rem;
    background-color: #222;
    color: #fff;
}

.testimonials h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.testimonial-item {
    margin-bottom: 2rem;
}

.testimonial-item p {
    font-size: 1.2rem;
    font-style: italic;
    line-height: 1.8;
}

.testimonial-item span {
    display: block;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #bbb;
}

/* Blog Section */
.blog {
    padding: 4rem 2rem;
    background-color: #111;
    color: #fff;
}

.blog h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.blog-post {
    margin-bottom: 2rem;
}

.blog-post h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.blog-post p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Contact Section */
.contact {
    padding: 4rem 2rem;
    background-color: #222;
    color: #fff;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.contact form {
    margin-bottom: 2rem;
}

.contact label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
}

.contact button {
    background-color: #ff0057;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact button:hover {
    background-color: #e0004f;
}

/* Social Media Section */
.social {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.social a
{
    padding: 0.4rem;
}

/* Footer */
.footer {
    background-color: #000;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name1, .name2 {
    width: 50%;
}

/* Social Media Icons from Uiverse.io */
ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
    color: white;
}

.example-2 .icon-content a svg {
    width: 30px;
    height: 30px;
    z-index: 1;
}

.example-2 .icon-content a .filled {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
        45deg,
        #405de6,
        #5b51db,
        #b33ab4,
        #c135b4,
        #e1306c,
        #fd1f1f
    );
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
}

/* Button Styles */
button {
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: #212121;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    z-index: 2;
}

button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
        #488cfb,
        #29dbbc,
        #ddf505,
        #ff9f0e,
        #e440bb,
        #655adc,
        #488cfb
    );
    -webkit-mask-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
    mask-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
    -webkit-mask-origin: content-box, padding-box;
    mask-origin: content-box, padding-box;
    -webkit-mask-clip: content-box, padding-box;
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 1000ms infinite;
    animation-play-state: paused;
}

@keyframes rotate-hue {
    to {
        filter: hue-rotate(1turn);
    }
}

button:active {
    --border-width: 5px;
}

button,
button::after {
    box-sizing: border-box;
}
.container-portfolio{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}


.chat-popup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 350px;
    /* Ajusta el ancho según tus necesidades */
    max-width: 80%;
    /* Asegúrate de que se ajuste en pantallas más pequeñas */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: none;
    flex-direction: column;
    z-index: 1000;
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    /* Ajusta el tamaño de la fuente */
    border-bottom: 1px solid #ddd;
}

.chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    max-height: 400px;
    /* Limita la altura máxima del área de chat */
}

.chat-input-container {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
}

#chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    /* Ajusta el tamaño de la fuente */
}

#send-button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
    font-size: 1em;
    /* Ajusta el tamaño de la fuente */
}

#send-button:hover {
    background-color: #0056b3;
}

.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.message {
    margin-bottom: 10px;
}

.message.user {
    text-align: right;
}

.message.bot {
    text-align: left;
}

.message .text {
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
}

.message.user .text {
    background-color: #007bff;
    color: #fff;
}

.message.bot .text {
    background-color: #f1f1f1;
    color: #333;
}